@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;0,900;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none
}  

:root{
   --text-color: #f5f5f5;
   --hover-color: #12f7ff;
   --bg-color: #250821;
   --secon-bg-color: #292e33;
   --big-font: 2.5rem;
   --norma-font: 2rem;
   --neon-box-shadow: 0 0 .5rem #12f7ff;
   --h2-font: 3rem;
   --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3),
   0 0 20px rgba(17, 247, 255, .3),
   0 0 30px rgba(17, 247, 255,.3),
   0 0 40px rgba(17, 247, 255 , .3),
   0 0 70px rgba(17, 247, 255, .3),
   0 0 80px rgba(17, 247, 255,.3),
   0 0 100px rgba(17, 247, 255, .3),
   0 0 150px rgba(17, 247, 255, .3);
}

::-webkit-scrollbar{
    block-size: 0;
    inline-size: .5rem;
}

::-webkit-scrollbar-track{
    background: blue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: 5rem;
}
.shadow-background{
    box-shadow: 0 0 10px #0de27bf0;
}

/* ::-webkit-scrollbar-thumb:hover{
    background: var(--text-color);
} */

body{
    font-family: "poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 1000;
    border-block-end: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
    padding: 20px 10px;
}
header.sticky{
    background: var(--bg-color);
    border-block-end: 1px solid var(--secon-bg-color);
}
.logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--hover-color);
}
.navlist{
    display: flex;
    cursor: pointer;
}
.navlist a{
    counter-reset: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
}
.navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(17, 247, 255, 0.6),
    0 0 30px rgba(17, 247, 255, 0.6),
    0 0 40px rgba(17, 247, 255 , 0.6),
    0 0 70px rgba(17, 247, 255, 0.6),
    0 0 80px rgba(17, 247, 255, 0.6),
    0 0 100px rgba(17, 247, 255, 0.6),
    0 0 150px rgba(17, 247, 255, 0.6);
}
.navlist a.active{
    color: var(--hover-color);
}
#menu-icon{
    font-size: 1.8rem;
    cursor: pointer ;
    z-index: 10001;
    margin-inline-start: 25px;
    background:  var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}

section{
    padding: 100px 10%;
}
.home{
    min-block-size: 100vh;
    block-size: 100%;
    inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4em;
}
.home-content{
    max-inline-size: 600px;
}
.home-content h1{
    font-size: var(--big-font);
    font-weight: 700;
}
.home-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.home-content p{
    color: #bdbdbd;
    line-height: 1.6;
}
.info-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 2rem;
}
.info-item{
    flex: 0 0 calc(50% - 20px);
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid var(--secon-bg-color); */
}
/* .info-box .row .info-item{
    flex: 0 0 50%;
    max-inline-size: 50%;
} */
.info-box .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    /* border-block-end: 1px solid var(--secon-bg-color); */
    margin: 0;
}
.info-box .info-item p span{
    font-weight: 400;
    margin-inline-start: 4px;
    /* display: inline-block; */
}
.btn-box{
    display: flex;
    justify-content: space-between;
    inline-size: 320px;
    block-size: 45px;
}
.btn-box .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    inline-size: 150px;
    block-size: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}
.btn:hover{
    color: var(--hover-color);
}
.btn::before{
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    background: var(--bg-color);
    inline-size: 0;
    block-size: 100%;
    z-index: -1;
    transition: .4s;
}
.btn:hover::before{
    inline-size: 100%;
}
.btn:nth-child(2){
    background: var(--bg-color);
    color: var(--hover-color);
}
.btn:nth-child(2):hover{
    color: var(--bg-color);
}
.btn:nth-child(2)::before{
    background: var(--hover-color) ;
}
.social-icons{
    margin-block-start: 8rem;
    display: flex;
    justify-content: space-between;
    inline-size: 220px;
    block-size: 40px;
}
.social-icons a{
    display: inline-flex;
    inline-size: 50px;
    block-size: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: 0.6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.social-icons a i{
    font-size: 1.5rem;
}
.social-icons a:hover{
    color: var(--bg-color);
}
.social-icons a::before{
    content: "";
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 0;
    block-size: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;
}
.social-icons a:hover::before{
    inline-size: 100%;
}
.home-image{
    position: relative;
}
.img-box{
    text-align: center;
}
.img-box::after{
    content: '';
    position: absolute;
    inline-size: 80px;
    block-size: 80px;
    border-block-end: 10px solid var(--hover-color);
    border-inline-end: 10px solid var(--hover-color);
    inset-inline-end: 100px;
    inset-block-end: -30px;
}
.img-box::before{
    content: '';
    position: absolute;
    inline-size: 80px;
    block-size: 80px;
    border-block-start: 10px solid var(--hover-color);
    border-inline-start: 10px solid var(--hover-color);
    inset-inline-start: 20px;
    inset-block-start: -40px;
}
.img-box img{
    inline-size: 100%;
    border-radius: 5px;
    max-inline-size: 450px;
    block-size: auto;
    animation: float 4s ease-in-out infinite;
}


/* About */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background: var(--secon-bg-color);
}
.about-content h2{
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--norma-font);
    inset-block-start: 0; 
}

.about-content .education .timline-bx{
    margin-block-start: 2%;
    margin-block-end: 5%;
    flex: 0 0 100%;
    max-inline-size: 100%;
}
.about-content .education .timline{
    padding: 10px 15px;
    border: 1px solid var(--secon-bg-color);
    inline-size: 100%;
    position: relative;
}
.about-content .education .timline .timline-item{
    position: relative;
    padding-inline-start: 37px;
    padding-block-end: 50px;
}
.about-content .education .timline .timline-item:last-child{
    padding-block-end: 0;
}
.about-content .education .timline .timline-item::before{
    content: '';
    inline-size: 1px;
    position: absolute;
    block-size: 100%;
    inset-inline-start: 7px;
    inset-block-start: 0;
    background-color: #0de27bf0;
}
.about-content .education .timline .circle-dot{
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    block-size: 15px;
    inline-size: 15px;
    border-radius: 50%;
    background-color: #0de27bf0;
}

.about-content .education .timline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-block-end: 12px;
    color: lightgrey;
}
.about-content .education .timline .timeline-date .bx{
    margin-inline-end: 5px;
}
.about-content .education .timline .timline-title{
    font-weight: 700;
    font-size: 18px;
    margin-block-end: 15px;
    color: #777;
}
.about-content .education .timline .timline-text{
    line-height: 25px;
    font-size: 16px;
    /* text-align: justify; */
    color: var(--text-color);
}

.info-about1, 
.info-about2, 
.info-about3{
    background: var(--bg-color);
    font-size: .5rem;
    position: absolute;
    padding: 10px;
    inline-size: 90px;
    block-size: 90px;
    border-radius: 69% 31% 66% 34% / 30% 21% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1px solid var(--hover-color);
    outline: 2px solid var(--bg-color);
    z-index: 100;
    animation: anime 6s linear infinite;
}
.info-about1{
    inset-inline-start: 10%;
    inset-block-start: 34%;
}
.info-about2{
    inset-inline-start: 66%;
    inset-block-start: 15%;
}
.info-about3{
    inset-inline-start: 61%;
    inset-block-start: 70%;
}
.img-about span{
    color: var(--hover-color);
    font-size: 1rem;
    font-weight: 600;
}

/* Services */
.main-text{
    inline-size: 100%;
    text-align: center;
    margin-block-end: 2rem;
    color: var(--hover-color);
}
.main-text h2{
    font-weight: 700;
    font-size: var(--norma-font);
}
.main-text span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.section-services .service-box{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    transition: transform .4s;
    border-radius: 10px;
}
.service-btn{
    inline-size: auto;
    justify-content: center;
}
.service-btn:hover{
    transform: translateY(-.7rem);
}
.service-icon{
    border: 2px solid var(--hover-color);
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);
}
.service-box h3{
    margin-block-start: 10px;
    font-size: 1.5rem;
}
.service-box p{
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fdfdfd;
    line-height: 1.6;
}

/* Skills */
.skills{
    background: var(--secon-bg-color);
}
.skill-main{
    inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skill-bar{
    margin-block-end: 2.3rem;
}
.skill-main h3{
    margin-block-end: 2rem;
    font-size: var(--norma-font);
    text-align: center;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-left .skill-bar .bar{
    inline-size: 100%;
    block-size: 10px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-block-start: 10px;
    position: relative;
}
.skill-bar .bar span{
    inline-size: 50%;
    block-size: 100%;
    position: absolute;
    inset-inline-start: 0;
    background: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
}
.skill-bar .bar .html{
    inline-size: 88%;
    animation: html 2s;
}
.skill-bar .bar .kotlin{
    inline-size: .8%;
    animation: kotlin 3s;
}
.skill-bar .bar .css{
    inline-size: 70%;
    animation: css 4s;
}
.skill-bar .bar .javascript{
    inline-size: 48%;
    animation: javascript 5s;
}
.skill-bar .bar .c-plus{
    inline-size: 70%;
    animation: c-plus 6s;
}
.skill-bar .bar .Python{
    inline-size: 58%;
    animation: Py 7s;
}

/* Skill Right */
.skill-right .timline-bx{
    flex: 0 0 100%;
    max-inline-size: 100%;
}
.skill-right .timline{
    padding: 30px 15px;
    border: 1px solid var(--secon-bg-color);
    inline-size: 100%;
    position: relative;
}
.skill-right .timline .timline-item{
    position: relative;
    padding-inline-start: 37px;
    padding-block-end: 50px;
}
.skill-right .timline .timline-item:last-child{
    padding-block-end: 0;
}
.skill-right .timline .timline-item::before{
    content: '';
    inline-size: 1px;
    position: absolute;
    block-size: 100%;
    inset-inline-start: 7px;
    inset-block-start: 0;
    background-color: #0de27bf0;
}
.skill-right .timline .circle-dot{
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    block-size: 15px;
    inline-size: 15px;
    border-radius: 50%;
    background-color: #0de27bf0;
}

.skill-right .timline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    color: lightgrey;
}
.skill-right .timline .timeline-date .bx{
    margin-inline-end: 5px;
}
.skill-right .timline .timline-title{
    font-weight: 700;
    font-size: 18px;
    margin-block-end: 15px;
    color: #777;
}
.skill-right .timline .timline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-color);
}


/* Portfolio */
.filter-buttons{
    margin: 2rem;
    text-align: center;
}
.filter-buttons .btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-inline-start: 1.3rem;
    color: var(--text-color);
}
.filter-buttons .btn:hover{
    color: var(--hover-color);
}
.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px , 1fr));
    gap: 2rem;
}
.port-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e23;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
}
.port-img{
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 100%;
    inline-size: 100%;
}
.port-img img{
    inline-size: 100%;
    opacity: .5s;
    block-size: 100%;
    transition: .5s;
}
.port-content{
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,0.2), #12f7f7);
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2rem;
}
.port-box:hover .port-content{
    opacity: 1;
}
.port-box:hover .port-img img{
    transform: scale(1.1);
}
.port-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.port-content p{
    font-size: .8rem;
    margin: 5px 0 15px 0;
}
.port-content a{
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    inline-size: 50px;
    block-size: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
}
.port-content a i{
    font-size: 1.3rem;
    color: var(--secon-bg-color);
}

/* contact */
.contact{
    background: var(--secon-bg-color);
    inline-size: 100%;
}
.contact h2{
    margin-block-end: 3rem;
}
.contact form{
    max-inline-size: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-block-end: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    inline-size: 100%;
    padding: .7rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border: none;
}
.contact form .input-box input{
    inline-size: 49%;
}
.contact form textarea{
    resize: none;
}
.formBtn{
    display: flex;
    justify-content: center;
    inline-size: 100%;
}
.formBtn .btn{
    cursor: pointer;
    font-size: 1rem;
}

/* footer */
footer{
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p{
    color: #bdbdbd;
}
footer a{
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
}
footer a i{
    font-size: 1rem;
    color: var(--secon-bg-color);
}


/* Key Frames */
@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes anime {
    0%, 100%{
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    30%{
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    80%{
        border-radius: 69% 33% 66% 30% / 21% 30% 70% 79%;
    }
}
@keyframes html {
    0%{
        inline-size: 0%;
    }
    100%{
        inline-size: 88%;
    }
}
@keyframes kotlin {
    0%{
        inline-size: 0%;
    }
    100%{
        inline-size: .8%;
    }
}
@keyframes css {
    0%{
        inline-size: 0%;
    }
    100%{
        inline-size: 70%;
    }
}
@keyframes javascript {
    0%{
        inline-size: 0%;
    }
    100%{
        inline-size: 48%;
    }
}
@keyframes c-plus {
    0%{
        inline-size: 0%;
    }
    100%{
        inline-size: 70%;
    }
}
@keyframes Py {
    0%{
        inline-size: 0%;
    }
    100%{
        inline-size: 58%;
    }
}

@keyframes glow {
    0%{
        background: var(--bg-color);
        box-shadow: none;
    }
    100%{
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}


/* Media Queries */
@media (max-width: 991px) {
    header, header.sticky{
        padding: 15px 5%;
    }
    footer{
        padding: 15px 5%;
    }
    .section{
        padding: 50px 5%;
    }
    .navlist a{
        padding: 8px 15px;
    }
    :root{
        --big-font: 2.5rem;
        --norma-font: 1.8rem;
        --neon-box-shadow: 0 0 .5rem #12f7ff;
        --h2-font: 3rem;
    }
    .home-content{
        margin-block-start: 5rem;
    }
    .social-icons{
        margin-block-start: 2rem;
    }
}
@media (max-width:768px) {
    #menu-icon{
        display: flex;
        transition: all .4s ease;
    }
    #menu-icon.bx-x{
        transform: rotate(-180deg);
    }
    .navlist{
        display: flex;
        position: absolute;
        inset-block-start: -1000px;
        inset-inline-end: 0;
        inset-inline-start: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: start;
        padding: 0 5%;
        transition: all .4s ease;
    }
    .navlist a{
        display: block;
        padding-block-end: 1rem;
        font-size: 1rem;
    }
    .navlist.open{
        inset-block-start: 100%;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .home-image{
        margin-block-end: 5rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .skill-main{
        grid-template-columns: 1fr;
    }
    .filter-buttons{
        margin: 2.5rem 0;
    }
    footer p{
        font-size: .8rem;
    }
}

@media (max-width:420px) {
    html{
        font-size: 80%;
    }
    footer p{
        font-size: .6rem;
    }
    .filter-buttons .btn{
        font-size: .8rem;
    }
    .img-about img{
        inline-size: 300px;
    }
    .info-about1,.info-about2,.info-about3{
        display: none;
    }
    .img-about p{
        font-size: 1rem;
    }
}